:root {
  --main-background: rgb(29, 28, 28);
  --borders: rgb(165, 165, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  background-color: rgb(201, 135, 135);
  padding: 1rem;
  display: block;
  &__add-task {
    margin-bottom: 10px;
    &__input {
      border: var(--borders) 2px solid;
      background-color: var(--main-background);
      text-align: center;
      height: 2rem;
      color: white;
    }
    &__btn {
      height: 2rem;
      padding: 0 1rem;
      margin-left: 1rem;
    }
  }
  .tasks-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__task,
    .task {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      color: white;
      &__index {
        margin-right: 1rem;
      }
      &__text {
        // color: black;
      }
      &__buttons,
      .buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
        .button {
          padding: 0.1rem 1rem;
        }
      }
    }
  }
}
