:root {
  --main-background: rgb(29, 28, 28);
  --borders: rgb(165, 165, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  background-color: rgb(201, 135, 135);
  padding: 1rem;
  display: block;
  &__add-task {
    margin-bottom: 10px;
    &__input {
      border: var(--borders) 2px solid;
      background-color: var(--main-background);
      text-align: center;
      height: 2rem;
      color: white;
    }
    &__btn {
      height: 2rem;
      padding: 0 1rem;
      margin-left: 1rem;
    }
    .catagory {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      &__button {
        background: none;
        border: none;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        img {
          width: 30px;
          height: 30px;
        }
        &:hover {
          box-shadow: 0 0 20px -5px black;
        }
      }
    }
  }
  .tasks-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__task,
    .task {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;

      &__index {
        margin-right: 1rem;
      }
      &__text {
        color: black;
        inline-size: min-content;
        // overflow-wrap: break-word;
      }
      &__buttons,
      .buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
        .button {
          height: 35px;
          width: 35px;
          padding: 0;
          background: none;
          border: none;
          &-img {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }
  .tasks-list--done {
    margin-top: 10px;
    .task__text {
      font-size: 1.5rem;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .separator {
    height: 2px;
    background-color: black;
    width: 100%;
  }
}
